
body{
    background:whitesmoke;
}



button{

    width: 180px;
   color: #000;
   font-size: 13px;
   padding: 12px 0;
   background:whitesmoke;
   border:3px solid lightslategray;
   border-radius: 20px;
   outline: none;
   margin-top: 30px;
   
  
   
}



.main{
    width: 90%;
  
    padding: 3rem;

    margin-left: 30px;
}
.main-img{
  
  border-radius: 8px;
  width: 100%;
  height: 500px;
  margin: right 40px;
  object-fit: cover;
 
 
}
.f{
    text-align: center;
}



.box{
   
    width: 400px;
    height: 230px;
    display: inline-block ;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(///home/suhamohammed/Documents/html2/images/set.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 1s;
    margin-top: 20px;

}
.ff{
    background-image: url(///home/suhamohammed/Documents/clinic/sar.jpg );
    
}
.fitn{
background-image: url(///home/suhamohammed/Documents/clinic/wa.jpg);
} 
.codee{
background-image: url(///home/suhamohammed/Documents/clinic/pop.jpg);
}
.codd{
    background-image: url(///home/suhamohammed/Documents/clinic/l.jpg);


}

.box:hover{
  transform: translateY(-10px);

}
.con{
   margin: 30px ;
   width: 98%;
   padding: 8px;

}

.c-img{
    float: left;
    width: 600px;
    height: 290px;
    padding: 0 10px  0 0;
    border-radius: 8px;

}
.text{
    text-align: justify;
    font-family: Verdana;
}

video { 
    width:500px ;
    position: center;
    margin-top: 15px;
    margin-left: 40px;
    
    right: 20%;
    top: 15%;
  
    }
    .hf {
        background-image: url(///home/suhamohammed/Documents/clinic/spa.jpg );
        
    }
   .fit{
    background-image: url(///home/suhamohammed/Documents/html2/images/fit.jpg);
   } 
   .code{
    background-image: url(///home/suhamohammed/Documents/html/bgg.jpg);
  
  }
  .cod{
    
    background-image: url(///home/suhamohammed/Documents/clinic/s4.jpg);

}
  .box:hover{
      transform: translateY(-10px);

  }
  .spa{
    margin: 0 0 ;
    width: 98%;
    padding: 8px;
 
 }
 
 .s-img{
     float: right;
     margin-left: 10px;
     width: 600px;
     height: 290px;
     padding: 0 10px  0 0;
     border-radius: 8px;
     
 
 }
 
    }