@media only screen and (max-width: 650px) {
  [class="con"] {
      width: 400px;
    }
}
.con{
  display: flex;
  flex-direction: row;
  margin: 50px;
  
  width: 1500px;
}
.divt{
  background-color:whitesmoke;
  width: 400px;
  height: 400px;

}
.divm{
  background-color:whitesmoke;
  width: 800px;
  margin-left: 20px;
  height: 400px;

  
}

.divm h1{
  text-align: center;
  font-size: 40px;
  color: #523c7e;
  margin-top: 30px;
}

.divi{
  background-color:white;
  width: 700px;
  height: 200px;
  margin: 40px;
  align-items: center;
  border-left: 4px solid  #523c7ec7 ;
  height: 200px;
  

 
  
 
  
}
.divi p{
  
  margin-top: 14px;
  margin-left: 15px;
  margin-right: 12px;
  color:  #495057ef;
  font-family: 'Judson', serif;
  font-size:large;
  text-align: justify;
  
 
}

.img1{
  width: 350px;
  height: 300px;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 15px;
  
}
 

.button a{ 

 float: right;
 color:#fff;
 background-color: #523c7e;
 border: 1px solid #523c7e;
 padding: 10px 35px;
 text-decoration: none;
 border-radius: 80px;
 margin-top: 50px;
 



}
.button a:hover{
 background-color: #fff;
 color:#523c7e;
}
.divt h3{
  color: #495057ef;
  margin-left: 40px;
  font-family: 'Judson', serif;

}


/* For desktop: */

.footer {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [footer] {
    width: 100%;
  }
}

footer{
    
    background:#250740c2 ;
    height: auto;
    width: 100vw;
    font-family: "open sans";
    padding-top: 40px;
    color:darkgrey;
    font-size: large;
    
    

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   

}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;


}

.social li{
    margin: 0 10px;


}
.social a{
    text-decoration: none;
    color:darkgray;
    
}
.social a i {
    font-size: 1.9rem;
    transition: color .4s ease;

}
.social a:hover i{
    color:  #495057ef;

}
.footer-bottom{
    background:rgba(121, 78, 129, 0.712) nk;
    width: 100vw;
    padding: 20px 0;
    text-align: center;

}
.footer-bottom p{
    font-size: 16px;
    word-spacing: 2px;
    text-transform: capitalize;
    

}
.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;


}


  
.footer-content ul  {
    margin-right: 50px;
}
