*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cover{
    background-color: whitesmoke;
}
.header-content{
    overflow: hidden;
}
.header .logo{
    width: 30%;
    height: 90px;
    float: left;
}
.logo img{
    border-radius: 60%;
}
.container{
    width: 80%;
    height:20px;
    margin: auto;
}
.header{
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.s-header{
    text-align: center;
    margin-bottom: 20px;
}
.s-header .s-title{
    font-size: 30px;
    padding-top: 40px;  
}
.s-header .line{
    display: block;
    width: 60px;
    height: 3px;
    background-color: rgba(75, 7, 75, 0.986);
    margin:0 auto 60px auto;
}
.header .nav{
    width: 70%;
    list-style: none;
    float: left;
    text-align: right;
}
.header .nav li{
    display:inline-block;
}
.header .nav li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 26px 15px;
    display: block;
}
.header .nav li a.active:after,
.header .nav li a:after {
    content: "";
    display: block;
    height: 3px;
    background-color:rgb(75, 0, 130);
    transition: width 0.5s;
}
.header .nav li a.active:after{width: 100%;}
.header .nav li a:after{width: 0;}
.header .nav li a:hover:after{width: 100%;}
.cover{
    background-image: url("../clinic/cover/Color_icon_lilac.svg.png");
    background-size: 100% 100%;
}
.s-header h2{
    color: rgb(75,0,130);
    font-size: 30px;
}
.home{
    height: 100vh;
    position: relative;
    background-image: url("///home/suhamohammed/Desktop/first/9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.home-lay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.5);
}
.home .title{
color: rgb(255, 255, 255);
}
.home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home-content h1{
    font-size: 50px;
    font-style: oblique;
}
.s1{
    height: 420px;
    width: 100%;
    display: flex;
    padding:20px;
    justify-content: center;
    position: relative;
}
.botox{
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.filler{
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.smyle{
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.botox img{
    width: 100%;
    height: 50%;
    border-radius: 10%;
    border: solid 1px rgb(138, 69, 138);
}
.filler img{
    width: 100%;
    height: 50%;
    border-radius: 10%;
    border: solid 1px rgb(138, 69, 138);
}
.smyle img{
    width: 100%;
    height: 50%;
    border-radius: 10%;
    border: solid 1px rgb(138, 69, 138);
}
.s2{
    overflow: hidden;
    height: 410px;
    width: 100%;
    display: flex;
    padding:20px;
    justify-content: center;
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
}
.mizohair{
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.health{
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative; 
}
.nose{
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.mizohair img{
    width: 100%;
    height: 50%;
    border-radius: 10%;
    border: solid 1px rgb(138, 69, 138);
}
.health img{
    width: 100%;
    height: 50%;
    border-radius: 10%;
    border: solid 1px rgb(138, 69, 138);
}
.nose img{
    width: 100%;
    height: 50%;
    border-radius: 10%;
    border: solid 1px rgb(138, 69, 138);
}
.botox .bo-lay{
    background: rgb(239, 234, 240);
    text-align: center;
    text-justify: newspaper;
    padding: 15px;
    border-radius: 20%;
    border: 2px dotted rgb(100, 13, 100);
}
.filler .fi-lay{
    background: rgb(239, 234, 240) ;
    text-align: center;
    text-justify: newspaper;
    padding: 15px;
    border-radius: 20%;
    border: 2px dotted rgb(100, 13, 100);
}
.health .he-lay{
    background:rgb(239, 234, 240) ;
    text-align: center;
    text-justify: newspaper;
    padding: 10px;
    border-radius: 20%;
    border: 2px dotted rgb(100, 13, 100);
}
.smyle .sm-lay{
    
    background: rgb(239, 234, 240) ;
    text-align: center;
    text-justify: newspaper;
    padding: 15px;
    border-radius: 20%;
    border: 2px dotted rgb(100, 13, 100);
}
.nose .no-lay{
    background: rgb(239, 234, 240) ;
    text-align: center;
    text-justify: newspaper;
    padding: 13px;
    border-radius: 20%;
    border: 2px dotted rgb(100, 13, 100);
}
.mizohair .mi-lay{
    background: rgb(239, 234, 240) ;
    text-align: center;
    text-justify: newspaper;
    padding: 5px;
    padding: 15px;
    border-radius: 20%;
    border: 2px dotted rgb(100, 13, 100);
}
.b1{
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 100%;
    display: flex;
    padding:20px;
    justify-content: center;
    padding-top: 10px;
}
.b-1{
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
       
}
.b-1 img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border: dashed 2px purple;
}
.b-2{
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.b-2 img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border:dashed 2px purple;
}
.b-3{
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.b-3 img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border:dashed 2px purple;
}
.about-us h3{
    text-align:center;
    background-color: rgb(209, 194, 212);
    font-family:cursive;
    text-justify:inter-ideograph;
    padding: 30px;
    border-radius: 25%;
    border: solid 1px purple;
}
footer{
    background:pink;
    height: auto;
    width: 100vw;
    font-family: "open sans";
    padding-top: 40px;
    color: whitesmoke;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 20px;
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.social li{
    margin: 0 10px;
}
.social a{
    text-decoration: none;
    color: whitesmoke;   
}
.social a i {
    font-size: 1.9rem;
    transition: color .4s ease;
}
.social a:hover i{
    color: purple;
}
.footer-bottom{
    background:#7b8586;
    width: 100vw;
    padding: 18px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 16px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}