



body {
    background:whitesmoke;
    width: 100%;
    
   
}

.con h1 {
    color: rgb(75,0, 130);
       }

body h2  {
    color: bolder  color rgb(75,0, 130);
}


button{

    width: 180px;
   color: #000;
   font-size: 13px;
   padding: 12px 0;
   background:whitesmoke;
   border:3px solid lightslategray;
   border-radius: 20px;
   outline: none;
   margin-top: 30px;
   
  
   
}


.main{
    width: 90%;
  
    padding: 3rem;

    margin-left: 30px;
}
.main-img{
  
  border-radius: 8px;
  width: 100%;
  height: 500px;
  margin: right 40px;
  object-fit: cover;
}
  
.f{
    text-align: center;
}



.box{
   
    width: 400px;
    height: 230px;
    display: inline-block ;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(///home/suhamohammed/Documents/html2/images/set.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 1s;
    margin-top: 20px;
    border: 1px solid rgb(75,0,130);
   

}
.ff{
    background-image: url(///home/suhamohammed/Documents/clinic/sar.jpg );
    
}
.fitn{
background-image: url(///home/suhamohammed/Documents/clinic/wa.jpg);
} 
.codee{
background-image: url(///home/suhamohammed/Documents/clinic/pop.jpg);
}
.codd{
    background-image: url(///home/suhamohammed/Documents/clinic/ppp.jpg );



}

.box:hover{
  transform: translateY(-10px);

}
.con{
   margin: 30px ;
   width: 98%;
   padding: 8px;

}

.c-img{
    float: left;
    width: 600px;
    height: 290px;
    padding: 0 10px  0 0;
    border-radius: 8px;
   

}
.text{
    text-align: justify;
    font-family: Verdana;
   
}

video { 
    width:500px ;
    position: center;
    margin-top: 15px;
    margin-left: 40px;
    
    right: 20%;
    top: 15%;
    border: 1px solid rgb(75,0,130);
  
    }
    .hf {
        background-image: url(///home/suhamohammed/Documents/clinic/spa.jpg );
        
    }
   .fit{
    background-image: url(///home/suhamohammed/Documents/html2/images/fit.jpg);
   } 
   .code{
    background-image: url(///home/suhamohammed/Documents/html/bgg.jpg);
  
  }
  .cod{
    
    background-image: url(///home/suhamohammed/Documents/clinic/s4.jpg);

}
  .box:hover{
      transform: translateY(-10px);

  }
  .spa{
    margin: 0 0 ;
    width: 98%;
    padding: 8px;
 
 }
 
 .s-img{
     float: right;
     margin-left: 10px;
     width: 600px;
     height: 290px;
     padding: 0 10px  0 0;
     border-radius: 8px 0;
    

     
 
 }



footer{
    
    background:pink;
    height: auto;
    width: 100vw;
    font-family: "open sans";
    padding-top: 40px;
    color: whitesmoke;

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   

}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 20px;

}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;


}

.social li{
    margin: 0 10px;


}
.social a{
    text-decoration: none;
    color: whitesmoke;
    
}
.social a i {
    font-size: 1.9rem;
    transition: color .4s ease;

}
.social a:hover i{
    color: purple;

}
.footer-bottom{
    background:pink;
    width: 100vw;
    padding: 20px 0;
    text-align: center;

}
.footer-bottom p{
    font-size: 16px;
    word-spacing: 2px;
    text-transform: capitalize;

}
.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;


}


  
  .sm{
      width: 900px;
      height: 800px;
      position: center;

  }


  .wrapper{
      display: flex;
      width:100% ;justify-content: space-around;
  }
  .card{
      width: 280px;
      min-height: 360px;
      padding: 2rem 1rem;
      background:rgb(0,0,0,0,8);
      position: relative;
      display: flex;
      align-items: flex-end;
      box-shadow: 0px 7px 10px rgba(0,0,0,0.8);
      transition: 0.5s ease-in-out;

      
  }
  .card:hover{
      transform: translateY(20px);
     
  }
  .card :before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;width: 100%;
      height: 100%;
      background: linear-gradient(to bottom ,#000);
      z-index: 2;
      transition:0,5s all;
      opacity: 0;

   
  }
  .card:hover:before{
      opacity: 1;


  }
  .card img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border: 2px solid pink;
      border-radius: 8px;
     
  }
  .card .info{
      position: relative;
      z-index: #111;
      opacity: 0;
      transform: translateY(30px);
      transition:0,5s all;
  }


  .card:hover  .info{
      opacity: 1;
      transform: translateY(0px);


  }   
  .card .info h1{
      margin: 0;

  }
 .card .info p{
     letter-spacing: 1px;
     font-size: 16px;
     margin-top: 8px;
     margin-bottom: 20px;

 }
 .card .info .btn{
     text-decoration: none;
     padding: 0.5rem 1rem;
     color: #000;
     font-size: 14px;
     font-weight: bold;
     cursor: pointer;
     transition: 0.4s ease-in-out;
     background: pink;
     border-radius: 8px;


 }
 .card .info .btnn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
 }
 .card h2{
     color: pink;
 }


.card   h3{
    color:darkgray;
    font-weight: 30px bolder;
}

.searchb{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
    margin-right: 40px;
    transform: translate(-50%,-50%);
    background: whitesmoke;
    height: 40px;
    border-radius: 40px;

}
.searchb:hover> .search-txt{
    width: 240px;
    padding: 0 6px;

}
.searchb:hover> .search-btnn{
    background: pink;
    
}



.search-btnn{
    color: rgb(75,0,130);
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.4s;
    text-decoration: none;


}   
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(75,0,130);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

.home {
    padding: 10px 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(75,0,130);
    background-color: pink;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px whitesmoke;
    margin-left: 40px;
    margin-top: 15px;
}
  
  .home:hover {background-color: pink;}
  
  .home:active {
    background-color: pink;
    box-shadow: 0 5px  rgb(75,0,130);
    transform: translateY(4px);
  }


  .team{
    width: 100%;
    display: flex;
    flex-direction: row;
  
    
}
.team img{
  
    width: 100%;
    height: 100%;
  
  border-radius: 10px;
  border: 2px solid rgb(75,0,130);
 
  }
.t{width: 400px;
   margin: 10px;

}
.t h3 {
    margin-left: 10px;
}





.header-content{
overflow: hidden;
color:  bolder  purple;
font-weight: 30px;

}
.header .logo{
  width: 50%;
  height: 73px;
  float: left;
  background: whitesmoke;
  
  }
    
.logo img{
border-radius: 50%;
}
.container{
width: 100%;
height:20px;
margin: auto;
color: rgb(75,0, 130);
}
    .con h1 
    {
        color:black;
        
    }
    body h2
    {
        color:black;
    }
.header{
height: 80px;
width: 110%;
z-index: 10;


}

.s-header{
text-align: center;
margin-bottom: 20px;
}
.s-header .s-title{
font-size: 30px;
padding-top: 40px;  
}
.s-header .line{
display: block;
width: 60px;
height: 3px;
background-color:black;
margin:0 auto 60px auto;

}
.s-header h2{

color:purple;
}
.header .nav{
width: 100%;
list-style: none;
right: 70%;
text-align: left;
background:whitesmoke;


}
.header .nav li{
display:inline-block;
}
.header .nav li a{
color:rgb(75,0, 130);
text-decoration:none;
padding: 26px 15px;
display: block;
}
.header .nav li a.active:after
.header .nav li a:after {
content: "";
display: block;
height: 3px;
background-color:black;
transition: width 0.5s;
}
.header .nav li a.active:after{width: 100%;}
.header .nav li a:after{width: 0;}
.header .nav li a:hover:after{width: 100%;}


.suha{
    width: 70%;
    height: 30%;
    background-color: aqua;
    padding: 15px;
}
.ts{
    text-align: justify;
    margin: 10px;
}
.ss {
    float:right;
    width: 400px;
    height: 400px;
}




